.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.svg-color-change {
  filter: brightness(0) saturate(100%);
  transition: filter 0.3s, drop-shadow 0.3s;
}
.group:hover .svg-color-change {
  filter: brightness(0) saturate(100%) invert(25%) sepia(85%) saturate(634%)
    hue-rotate(178deg) brightness(130%) contrast(101%);
}

.sidebar {
    transform: translateX(-250px) !important;
}
.content-screen {
    width: 100% !important;
}
